aiosqlite          
annotated-types    
anyio              
certifi            
charset-normalizer 
click              
dnspython          
email_validator    
fastapi            
fastapi-cli        
fastapi-filter     
fastapi-utils      
h11                
httpcore           
httptools          
httpx              
idna               
Jinja2             
markdown-it-py     
MarkupSafe         
mdurl              
mypy-extensions   
orjson             
pip                
psutil             
psycopg2-binary    
pydantic           
pydantic_core      
pydantic-settings  
Pygments           
python-dotenv      
python-multipart   
PyYAML             
requests           
rich               
shellingham        
sniffio            
SQLAlchemy         
starlette          
typer              
typing_extensions  
typing-inspect     
ujson              
urllib3            
uvicorn            
uvloop             
watchfiles         
websockets         